{% load_yaml as default_servers %}
- 0.ubuntu.pool.ntp.org
- 1.ubuntu.pool.ntp.org
- 2.ubuntu.pool.ntp.org
- 3.ubuntu.pool.ntp.org
- ntp.ubuntu.com
{% endload %}

{% set ntp_servers = salt['pillar.get']('ntp:servers', default_servers) %}

